
{% if is_front_page %} 
    {{ content.slider_4|raw }}
    {{ content.showIntroductionElements.4|raw }}
{% endif %}

{{ renderSocialMediaButtons(2)|raw }}


<div class="site-footer-1" style="{{ content.styles.footerStyleColorBg }} {{ content.styles.footerStyleColorFg }}">

	<div role="complementary" class="azbalac-footer container">
    
    {{ content.footer|raw }}
	</div>

{{ renderSocialMediaButtons(3)|raw }}

</div><!-- end site-footer-1 -->

{{ content.subfooter|raw }}

{{ content.wpFooter|raw }}
<div id="media-width-detection-element"></div>
</body>
</html>