<!DOCTYPE html>
<html {{ content.languageAttributes|raw }}>
    <head>
      <meta charset="{{ content.bloginfo.charset }}" />
      <meta name="description" content="{{ content.bloginfo.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{{ content.bloginfo.pingback_url }}">

    {% if content.navbarFixed == 'fixed-top' and content.hasNavMenuHeaderMenu %}
    
            <style type="text/css">
            /* Show it is fixed to the top */
                body {
                min-height: 75rem !important;
                padding-top: {{ content.navigationTopSpacing }}rem !important;
                }
                body.admin-bar .navbar-fixed-top { 
                    top: 28px !important; 
                }

                /* v4 notice above main navbar */
                .v4-tease {
                display: block;
                padding: 15px 20px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                background-color: #0275d8;
                }
                .v4-tease:hover {
                color: #fff;
                text-decoration: none;
                background-color: #0269c2;
                }

                
            </style>
    {% endif %}

  

            {{ content.subfooterStyles|raw }}

        {{ content.wpHead|raw }}    

        {{ content.sectionFontStyles|raw }}
        {% if content.headerOptions.show_title_image %}
            {% include 'content/header-style.html.twig' with {'header': content.headerOptions, 
    'is_front_page': is_front_page } %}
    {% endif %} 
        

</head>


<body {{ content.bodyClass|raw }}>

{{ content.wpBodyOpen|raw }}

<div class="visually-hidden-focusable overflow-hidden">
  <div class="container-xl">
    <a class="d-inline-flex p-2 m-1" href="#content">{{ content.skipToMainContent }}</a>
  </div>
</div>




{% if content.navbarFixed == 'default' %}

  {% if content.headerOptions.show_title_image %}
      {{ renderSocialMediaButtons(1)|raw }}
  {% endif %}

<div id="header" role="banner" style="{% if content.headerStyles.headerStyleColorBg %}background-color: {{ content.headerStyles.headerStyleColorBg }} {% endif %}{% if content.headerStyles.headerStyleColorFg %}{{ content.headerStyles.headerStyleColorFg }}{% endif %}">

    <div class="container">

        <header class="masthead">
            <div>

                        <div id="site-header-container-above" class="row align-items-center {% if content.customLogoPosition == 2 %} justify-content-center{% elseif content.customLogoPosition == 3 %} justify-content-between{% endif %}">
                            
                            {% if content.customLogo %}
                            <div class="col-auto  {% if content.customLogoPosition == 3 %} order-12{% endif %}">
                                <a href="{{ content.homeUrl }}"><img src="{{ content.customLogo }}"/></a>
                            </div>
                            {% endif %}
                            {% if not content.headerOptions.show_title_image %}
                            <div class="col">
                                    {% if content.displayHeaderText %}
                                    <h2 class="azbalac-title-noimage" id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h2>
                                <h2 class="azbalac-subtitle-above" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                            <div class="col-auto ml-auto">
                                {{ renderSocialMediaButtons(1,false)|raw }}
                                {% if content.headerWidgetRight %}
                                <div class="float-right ml-2">
                                    {{ content.headerWidgetRight|raw }}
                                </div>
                                {% endif %}
                            </div>
                          
                            {% endif %}
                           
                        </div>


            </div>

            <div id="site-header-above">
                <a href="{{ content.homeUrl }}" rel="home">
                {% if content.headerImages.0.url %}
                    <picture>
                        <source media="(min-width: 1200px)" srcset="{{ content.headerImages.0.url }} 1110w">
                        <source media="(min-width: 992px) and (max-width: 1199.98px)" srcset="{{ content.headerImages.0.url }} 930w">
                        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ content.headerImages.1.url }} 690w">
                        <source media="(min-width: 576px) and (max-width: 767.98px)" srcset="{{ content.headerImages.2.url }} 510w">
                        <source media="(max-width: 575.98px)" srcset="{{ content.headerImages.3.url }} 476w">
                        <img id="site-header-image" src="{{ content.headerImages.3.url }}" style="max-width: 100%; width: 100%">
                    </picture>
                {% endif %}
                </a>

                {% if content.headerOptions.show_title_image and content.displayHeaderText %}

                <div id="site-header-container-overlay" class="position-absolute {{ content.headerOptions.header_container.container_class }}" style="">
                    <div id="site-header-box-title" class="{{ content.headerOptions.header_container.box_class_title }}">
                        <h2 class="azbalac-title" id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h2>
                    </div>
                    <div id="site-header-box-subtitle" class="{{ content.headerOptions.header_container.box_class_subtitle }}">   
                        <h2 class="azbalac-subtitle" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                    </div>
                </div>
                {% endif %}
            
            </div>
{% endif %}


{% if is_front_page %}
    {% if content.showSlider.1 %}</header></div>{{ content.showSlider.1|raw }}<header class="masthead"><div class="container">{% endif %}
    {% if content.showIntroductionElements.1 %}</header></div>{{ content.showIntroductionElements.1|raw }}<header class="masthead"><div class="container">{% endif %}
{% endif %}



{% if content.hasNavMenuHeaderMenu or content.navigationWidgetRight %}
    <nav id="navbarMain" class="navbar navbar-expand-sm justify-content-between {% if content.navbarFixed == 'fixed-top' %}fixed-top {% endif %} {{ content.headerStyles.navbarStyleClass }} mb-3" {% if content.headerStyles.navbarBgCustom %}style="background-color: {{ content.headerStyles.navbarBgCustom }};" {% endif %}role="navigation">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
       
                {% if (content.navbarFixed == 'fixed-top' or content.navbarFixed == 'top-aligned') and content.displayHeaderText %}
                    <div id="site-header-text">
                            {% if content.customLogo %}
                            <a href="{{ content.homeUrl }}"><img style="width: 30px; height: auto;" src="{{ content.customLogo }}"/></a>
                        {% endif %}
                        <a class="navbar-brand" href="{{ content.homeUrl }}">{{ content.description }}</a></div>
                {% endif %}
            
            <div class="navbar-collapse collapse  {{ content.headerStyles.navbarAlignment }}" id="navbarSupportedContent"> 
                <ul class="navbar-nav  mb-2 mb-lg-0  {% if content.navigationWidgetRight %}mr-auto{% endif %}">
                    {{ content.wpNavMenu|raw }}
               </ul>
               {% if content.navigationWidgetRight %}
                <div>
                  {{ content.navigationWidgetRight|raw }}
                </div>
               {% endif %}
            </div><!--/.nav-collapse -->
        
    </div>
    </nav> <!-- end navbar-->
{% endif %}

{% if content.navbarFixed == 'default' %}
      </header>
    </div> <!-- /container -->
</div><!-- /div id header with default navbar -->

{% endif %}

{#


<div class="container">
  

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>
  </div>


<div class="container px-4 py-5" id="featured-3">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
          Call to action
        </a>
      </div>
    </div>
  </div>

  #}

{% if is_front_page %}
    {{ content.showIntroductionElements.2|raw }}
{% endif %}
