<!DOCTYPE html>
<html {{ content.languageAttributes|raw }}>
    <head>
      <meta charset="{{ content.bloginfo.charset }}" />
      <meta name="description" content="{{ content.bloginfo.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{{ content.bloginfo.pingback_url }}">

    {{ content.headerImageData|raw }}

    {% if content.navbarFixed == 'fixed-top' and content.hasNavMenuHeaderMenu %}
    
            <style type="text/css">
            /* Show it is fixed to the top */
                body {
                min-height: 75rem !important;
                padding-top: 4.5rem !important;
                }
                body.admin-bar .navbar-fixed-top { 
                    top: 28px !important; 
                }

                /* v4 notice above main navbar */
                .v4-tease {
                display: block;
                padding: 15px 20px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                background-color: #0275d8;
                }
                .v4-tease:hover {
                color: #fff;
                text-decoration: none;
                background-color: #0269c2;
                }

                
            </style>
    {% endif %}

  

            {{ content.subfooterStyles|raw }}

        {{ content.wpHead|raw }}    

        {{ content.sectionFontStyles|raw }}
        {% if content.headerOptions.show_title_image %}
            {% include 'content/header-style.html.twig' with {'header': content.headerOptions, 
    'is_front_page': is_front_page } %}
    {% endif %} 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body {{ content.bodyClass|raw }}>

<div id="skip-link"><a href="#content" class="sr-only element-focusable">{{ content.skipToMainContent }}</a></div>


{% if content.navbarFixed == 'default' %}

{% if content.headerOptions.show_title_image %}
    {{ renderSocialMediaButtons(1)|raw }}
{% endif %}

<div id="header" role="banner" style="{% if content.headerStyles.headerStyleColorBg %}background-color: {{ content.headerStyles.headerStyleColorBg }} {% endif %}{% if content.headerStyles.headerStyleColorFg %}{{ content.headerStyles.headerStyleColorFg }}{% endif %}">

    <div class="container">

        <header class="masthead">
            <div>

              {#  <div class="row justify-content-between">
                    <div class="col-auto"> #}
                        <div id="site-header-container-above" class="row align-items-center {% if content.customLogoPosition == 2 %} justify-content-center{% elseif content.customLogoPosition == 3 %} justify-content-between{% endif %}">
                            
                            {% if content.customLogo %}
                            <div class="col-auto  {% if content.customLogoPosition == 3 %} order-12{% endif %}">
                                <a href="{{ content.homeUrl }}"><img src="{{ content.customLogo }}"/></a>
                            </div>
                            {% endif %}
                            {% if not content.headerOptions.show_title_image %}
                            <div class="col"> {# war col-auto #}
                                    {% if content.displayHeaderText %}
                                    <h1 id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h1>
                                <h2 class="azbalac-subtitle-above" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                            <div class="col-auto ml-auto">
                                {{ renderSocialMediaButtons(1,false)|raw }}
                                {% if content.headerWidgetRight %}
                                <div class="float-right ml-2">
                                    {{ content.headerWidgetRight|raw }}
                                </div>
                                {% endif %}
                            </div>
                          
                            {% endif %}
                            {# {% if  content.headerWidgetRight %}
                            <div class="col-auto ml-auto">
                                    {{ content.headerWidgetRight|raw }}
                            </div>
                            {% endif %}  #}
                        </div>

                {#    </div>
                    <div class="col-auto">
                            {{ content.headerWidgetRight|raw }}
                        </div>

                    
                </div> #}

            </div>


       

            <div id="site-header-above">
                <a href="{{ content.homeUrl }}" rel="home"><img id="site-header-image" src="{{ content.headerImage }}" width="1" height="1" data-width="{{ content.customHeader.width }}" data-height="{{ content.customHeader.height }}" alt="{{ content.headerImageAlt }}">
                </a>

                {% if content.headerOptions.show_title_image and content.displayHeaderText %}

                <div id="site-header-container-overlay" class="position-absolute {{ content.headerOptions.header_container.container_class }}" style="">
                    <div id="site-header-box-title" class="{{ content.headerOptions.header_container.box_class_title }}">
                        <h1 class="azbalac-title" id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h1>
                    </div>
                    <div id="site-header-box-subtitle" class="{{ content.headerOptions.header_container.box_class_subtitle }}">   
                        <h2 class="azbalac-subtitle" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                    </div>
                </div>
                {% endif %}
            
            </div>
{% endif %}


{% if is_front_page %}
    {% if content.showSlider.1 %}</header></div>{{ content.showSlider.1|raw }}<header class="masthead"><div class="container">{% endif %}
    {% if content.showIntroductionElements.1 %}</header></div>{{ content.showIntroductionElements.1|raw }}<header class="masthead"><div class="container">{% endif %}
{% endif %}



{% if content.hasNavMenuHeaderMenu or content.navigationWidgetRight %}
    <nav id="navbarMain" class="navbar navbar-expand-sm justify-content-between {% if content.navbarFixed == 'fixed-top' %}fixed-top navbar-fixed-top{% endif %} {{ content.headerStyles.navbarStyleClass }} mb-3" {% if content.headerStyles.navbarBgCustom %}style="background-color: {{ content.headerStyles.navbarBgCustom }};" {% endif %}role="navigation">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        {# <div id="navbar-header" class="navbar-header">
                <div id="navbar-toggle-screenreader"><a href="#" class="sr-only element-focusable" data-toggle="collapse" data-target=".navbar-collapse">{{ content.toggleNavigation }}</a></div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ content.toggleNavigation }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                #}
                {% if content.navbarFixed == 'fixed-top' and content.displayHeaderText %}
                    <div id="site-header-text">
                            {% if content.customLogo %}
                            <a href="{{ content.homeUrl }}"><img style="width: 30px; height: auto;" src="{{ content.customLogo }}"/></a>
                        {% endif %}
                        <a class="navbar-brand" href="{{ content.homeUrl }}">{{ content.description }}</a></div>
                {% endif %}
            
            <div class="sticky-top navbar-collapse collapse  {{ content.headerStyles.navbarAlignment }}" id="navbarSupportedContent"> 
                <ul class="navbar-nav  {% if content.navigationWidgetRight %}mr-auto{% endif %}">
                    {{ content.wpNavMenu|raw }}
               </ul>
               {% if content.navigationWidgetRight %}
                <div>
                  {{ content.navigationWidgetRight|raw }}
                </div>
               {% endif %}
            </div><!--/.nav-collapse -->
        
            
    </nav> <!-- end navbar-->
{# {% else %}
<p>&nbsp;</p> #}
{% endif %}

{% if content.navbarFixed == 'default' %}
      </header>
    </div> <!-- /container -->
</div><!-- /div id header with default navbar -->

{% endif %}



{% if is_front_page %}
    {{ content.showIntroductionElements.2|raw }}
{% endif %}


