<!DOCTYPE html>
<html {{ content.languageAttributes|raw }}>
    <head>
      <meta charset="{{ content.bloginfo.charset }}" />
      <meta name="description" content="{{ content.bloginfo.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{{ content.bloginfo.pingback_url }}">


    {% if content.navbarFixed == 'fixed-top' and content.hasNavMenuHeaderMenu %}
    
            <style type="text/css">
            /* Show it is fixed to the top */
                body {
                min-height: 75rem !important;
                padding-top: 4.5rem !important;
                }
                body.admin-bar .navbar-fixed-top { 
                    top: 28px !important; 
                }

                /* v4 notice above main navbar */
                .v4-tease {
                display: block;
                padding: 15px 20px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                background-color: #0275d8;
                }
                .v4-tease:hover {
                color: #fff;
                text-decoration: none;
                background-color: #0269c2;
                }

                
            </style>
    {% endif %}

  

            {{ content.subfooterStyles|raw }}

        {{ content.wpHead|raw }}    

        {{ content.sectionFontStyles|raw }}
        {% if content.headerOptions.show_title_image %}
            {% include 'content/header-style.html.twig' with {'header': content.headerOptions, 
    'is_front_page': is_front_page } %}
    {% endif %} 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body {{ content.bodyClass|raw }}>

<div class="visually-hidden-focusable overflow-hidden">
  <div class="container-xl">
    <a class="d-inline-flex p-2 m-1" href="#content">{{ content.skipToMainContent }}</a>
  </div>
</div>

{% if content.navbarFixed == 'default' %}

{% if content.headerOptions.show_title_image %}
    {{ renderSocialMediaButtons(1)|raw }}
{% endif %}

<div id="header" role="banner" style="{% if content.headerStyles.headerStyleColorBg %}background-color: {{ content.headerStyles.headerStyleColorBg }} {% endif %}{% if content.headerStyles.headerStyleColorFg %}{{ content.headerStyles.headerStyleColorFg }}{% endif %}">

    <div class="container">

        <header class="masthead">
            <div>

              {#  <div class="row justify-content-between">
                    <div class="col-auto"> #}
                        <div id="site-header-container-above" class="row align-items-center {% if content.customLogoPosition == 2 %} justify-content-center{% elseif content.customLogoPosition == 3 %} justify-content-between{% endif %}">
                            
                            {% if content.customLogo %}
                            <div class="col-auto  {% if content.customLogoPosition == 3 %} order-12{% endif %}">
                                <a href="{{ content.homeUrl }}"><img src="{{ content.customLogo }}"/></a>
                            </div>
                            {% endif %}
                            {% if not content.headerOptions.show_title_image %}
                            <div class="col"> {# war col-auto #}
                                    {% if content.displayHeaderText %}
                                    <h2 class="azbalac-title-noimage" id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h2>
                                <h2 class="azbalac-subtitle-above" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                            <div class="col-auto ml-auto">
                                {{ renderSocialMediaButtons(1,false)|raw }}
                                {% if content.headerWidgetRight %}
                                <div class="float-right ml-2">
                                    {{ content.headerWidgetRight|raw }}
                                </div>
                                {% endif %}
                            </div>
                          
                            {% endif %}
                            {# {% if  content.headerWidgetRight %}
                            <div class="col-auto ml-auto">
                                    {{ content.headerWidgetRight|raw }}
                            </div>
                            {% endif %}  #}
                        </div>

                {#    </div>
                    <div class="col-auto">
                            {{ content.headerWidgetRight|raw }}
                        </div>

                    
                </div> #}

            </div>

            <div id="site-header-above">
                <a href="{{ content.homeUrl }}" rel="home">
                {% if content.headerImages.0.url %}
                    <picture>
                        <source media="(min-width: 1200px)" srcset="{{ content.headerImages.0.url }} 1110w">
                        <source media="(min-width: 992px) and (max-width: 1199.98px)" srcset="{{ content.headerImages.0.url }} 930w">
                        <source media="(min-width: 768px) and (max-width: 991.98px)" srcset="{{ content.headerImages.1.url }} 690w">
                        <source media="(min-width: 576px) and (max-width: 767.98px)" srcset="{{ content.headerImages.2.url }} 510w">
                        <source media="(max-width: 575.98px)" srcset="{{ content.headerImages.3.url }} 476w">
                        <img id="site-header-image" src="{{ content.headerImages.3.url }}" style="max-width: 100%; width: 100%">
                    </picture>
                {% endif %}
                </a>

                {% if content.headerOptions.show_title_image and content.displayHeaderText %}

                <div id="site-header-container-overlay" class="position-absolute {{ content.headerOptions.header_container.container_class }}" style="">
                    <div id="site-header-box-title" class="{{ content.headerOptions.header_container.box_class_title }}">
                        <h2 class="azbalac-title" id="site-header-text"><a class="header-url" style="{% if content.headerStyles.colorFgTitle %}color: {{ content.headerStyles.colorFgTitle }};{% endif %}" href="{{ content.homeUrl }}">{{ content.description|raw }}</a></h2>
                    </div>
                    <div id="site-header-box-subtitle" class="{{ content.headerOptions.header_container.box_class_subtitle }}">   
                        <h2 class="azbalac-subtitle" id="site-description" style="{% if content.headerStyles.colorFgSubtitle %}color: {{ content.headerStyles.colorFgSubtitle }};{% endif %}">{{ content.subtitleDescription|raw }}</h2>
                    </div>
                </div>
                {% endif %}
            
            </div>
{% endif %}


{% if is_front_page %}
    {% if content.showSlider.1 %}</header></div>{{ content.showSlider.1|raw }}<header class="masthead"><div class="container">{% endif %}
    {% if content.showIntroductionElements.1 %}</header></div>{{ content.showIntroductionElements.1|raw }}<header class="masthead"><div class="container">{% endif %}
{% endif %}


{% if content.hasNavMenuHeaderMenu or content.navigationWidgetRight %}
    <nav id="navbarMain" class="navbar navbar-expand-sm justify-content-between {% if content.navbarFixed == 'fixed-top' %}_fixed-top _navbar-fixed-top{% endif %} {{ content.headerStyles.navbarStyleClass }} mb-3" {% if content.headerStyles.navbarBgCustom %}style="background-color: {{ content.headerStyles.navbarBgCustom }};" {% endif %}role="navigation">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
       
                {% if content.navbarFixed == 'fixed-top' and content.displayHeaderText %}
                    <div id="site-header-text">
                            {% if content.customLogo %}
                            <a href="{{ content.homeUrl }}"><img style="width: 30px; height: auto;" src="{{ content.customLogo }}"/></a>
                        {% endif %}
                        <a class="navbar-brand" href="{{ content.homeUrl }}">{{ content.description }}</a></div>
                {% endif %}
            
            <div class="sticky-top navbar-collapse collapse  {{ content.headerStyles.navbarAlignment }}" id="navbarSupportedContent"> 
                <ul class="navbar-nav  mb-2 mb-lg-0  {% if content.navigationWidgetRight %}mr-auto{% endif %}">
                    {{ content.wpNavMenu|raw }}
               </ul>
               {% if content.navigationWidgetRight %}
                <div>
                  {{ content.navigationWidgetRight|raw }}
                </div>
               {% endif %}
            </div><!--/.nav-collapse -->
        
    </div>
    </nav> <!-- end navbar-->
{% endif %}

{% if content.navbarFixed == 'default' %}
      </header>
    </div> <!-- /container -->
</div><!-- /div id header with default navbar -->

{% endif %}


{% if is_front_page %}
    {{ content.showIntroductionElements.2|raw }}
{% endif %}

<div style="text-align: center">
<a class="azbalac-social-3 btn btn-secondary" target="_blank" role="img" href="https://www.facebook.com/rgeschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg></a>

<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border border-3 border-success" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>

<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border border-3 border-success rounded-3" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>


<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border border-3 border-success rounded-3 shadow bg-body" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>

<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border  border-3 border-success rounded rounded-circle" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>


<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border  border-3 border-success rounded rounded-circle text-dark" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>


<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter border  border-3 border-success rounded rounded-circle" style="color: #666;" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>



<a class="azbalac-social-3" target="_blank" role="img" href="https://twitter.com/geschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter rounded rounded-circle bg-info" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg></a>


<a class="azbalac-social-3" target="_blank" role="img" href="https://www.facebook.com/rgeschke"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook rounded-circle rounded" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg></a>

</div>