
{% include 'header.html.twig' with {'content': header, 
    'is_front_page': is_front_page } %}


{% if is_front_page %}
    {{ show_slider_2|raw }}
{% endif %}

{% if is_front_page and azbalac_has_featured_posts %}

    <div id="featured-main" class="featured-main">
        {% include 'content/content-featured-container.html.twig' with {'featured': featured } %}
    </div><!-- end featured-main -->
{% endif %}


{% if is_front_page %}
    {{ intro_elements_3|raw }}
    {{ show_slider_3|raw }}
{% endif %}

 
<div id="main" class="site-main">
        
    <div class="container">
        
        <div id="main-content" class="row main-content">
            {% if layout_style.content == 2 %}

                <div class="{{ layout_style.col_2 }}">
                {% include 'sidebar/sidebar.html.twig' with {'content': sidebar } %}
                </div>
            {% endif %}

            <div class="{{ layout_style.col_1 }}">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
            
                        {% if have_posts %}
                            {% for post in posts %}
                                {% include 'content/content.html.twig' with {'content': post.data } %}
                            {% endfor %}
                            {{ paging_nav|raw }}
                        {% else %}
                            {% include 'content/content-none.html.twig' with {'content': no_posts } %}

                        {% endif %}

		            </div><!-- #content -->
	            </div><!-- #primary -->
            </div>

            {% if layout_style.columns == 2 %}
                {% if layout_style.content == 1 %}
                    <div class="{{ layout_style.col_2 }}">
                        {% include 'sidebar/sidebar.html.twig' with {'content': sidebar } %}
                    </div>
                {% endif %}
            {% endif %}
        
        </div><!-- row and main-content -->


    </div><!-- container -->
</div><!-- #main -->     
 

{% include 'footer.html.twig' with {'content': footer,
    'is_front_page': is_front_page } %}
