
{% include 'header.html.twig' with {'content': header } %}

 
  <div class="container">
  
{% if is_front_page %}
{{ show_slider_2|raw }}
{% endif %}    

 <div id="main" class="site-main">
 
      <div class="row">
  
          <div id="main-content" class="main-content">

            {% if layout_style.content == 2 %}

                  <div class="{{ layout_style.col_2 }}">
                      {{ sidebar|raw }}
                  </div>
              {% endif %}
  
              <div class="{{ layout_style.col_1 }}">
  
                  <div id="primary" class="content-area">
                      <div id="content" class="site-content" role="main">
  
                            {% if have_posts %}
                            {% for post in posts %}
                            
                                {% include 'content/content.html.twig' with {'content': post.data, 'comment': post.commentData } %}
                              

                            {% endfor %}
                            {{ paging_nav|raw }}
                        {% else %}
                            {% include 'content/content-none.html.twig' with {'content': no_posts } %}
                        {% endif %}
 
                      </div><!-- #content -->
                  </div><!-- #primary -->
  
              </div>
  

              {% if layout_style.columns == 2 and layout_style.content == 1 %}

              <div class="{{ layout_style.col_2 }}">
                  {{ sidebar|raw }}
              </div>
              {% endif %}
  
   
          </div><!-- #main-content -->
  
      </div><!-- row -->
 
 
      </div><!-- #main -->
  </div><!-- container -->

  {% include 'footer.html.twig' with {'content': footer } %}

