<div class="container py-4">
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold"><a href="{{ post.permalink }}" rel="bookmark">{{ post.title|raw }}</a></h1>
        <p class="col-md-8 fs-4">
         {% if post.azbalac_setting_posts_featured_date %}

                    {% if post.postType == 'post' %}
                    {{ post.postedOn|raw }}&nbsp;
                    {% endif %}

                    {{ post.editPostLink|raw }}

                {% endif %}
                
                {% if post.has_post_thumbnail %}
                  <a class="post-thumbnail" href="{{ post.permalink }}">{{ post.thumbnail }}</a>
                {% endif %}
        
        </p>
        <div class="col-md-10 fs-4">
        
            {{ post.content|raw }}
        </div>

      </div>
    </div>
</div>


