

<div class="col-lg-{{ post.themeCols }} col-md-{{ post.themeCols }} col-sm-{{ post.themeCols }}">

<article id="post-{{ post.theId }}" {{ post.postClass }}>


        {% if post.has_post_thumbnail %}
        <a class="post-thumbnail" href="{{ post.permalink }}">{{ post.thumbnail }}</a>
      {% endif %}


	<header class="entry-header">

        <h2 class="entry-title"><a href="{{ post.permalink }}" rel="bookmark">{{ post.title }}</a></h2>


        {% if post.setting_posts_featured_date %}
            {% if post.post_type == 'post' %}
                {{ post.posted_on }}&nbsp;
            {% endif %}

            {{ post.edit_post_link }}
        
        {% endif %}

        {{ post.content|raw }}
         
	</header><!-- .entry-header -->
</article><!-- #post-## -->

    </div>